include *.txt
include *.yaml
include *.yml
include .coveragerc
exclude test_files/*
recursive-include notebooks *.ipynb
recursive-include notebooks *.png
recursive-include src *.md
recursive-include src *.py
recursive-include src *.typed
